In [9]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [17]:
life_expectancy_path = "life_expectancy.csv"

life_expectancy_data = pd.read_csv(life_expectancy_path)

life_expectancy_data.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [11]:
life_exp_df = life_expectancy_data.copy()

type(life_exp_df)

pandas.core.frame.DataFrame

In [12]:
life_exp_df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [18]:

reduced_df = life_exp_df[['Country', 'Year', 'Status', 'Life expectancy ',
       'Alcohol', ' BMI ', 'Total expenditure','GDP', 'Population',
       'Income composition of resources', 'Schooling']]

reduced_df.columns = [col.strip() for col in reduced_df.columns]

reduced_df.head()

,Country,Year,Status,Life expectancy,Alcohol,BMI,Total expenditure,GDP,Population,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,0.01,19.1,8.16,584.259210,33736494.0,0.479,10.1
1,Afghanistan,2014,Developing,59.9,0.01,18.6,8.18,612.696514,327582.0,0.476,10.0
2,Afghanistan,2013,Developing,59.9,0.01,18.1,8.13,631.744976,31731688.0,0.470,9.9
3,Afghanistan,2012,Developing,59.5,0.01,17.6,8.52,669.959000,3696958.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,0.01,17.2,7.87,63.537231,2978599.0,0.454,9.5

In [19]:
# pd.set_option('display.max_rows', None)
reduced_df['Country'].value_counts()

Saint Vincent and the Grenadines                        16
Botswana                                                16
Nigeria                                                 16
Belize                                                  16
Costa Rica                                              16
Suriname                                                16
Micronesia (Federated States of)                        16
Paraguay                                                16
Seychelles                                              16
Belarus                                                 16
Solomon Islands                                         16
Burkina Faso                                            16
Mauritius                                               16
Peru                                                    16
Central African Republic                                16
Ecuador                                                 16
Gambia                                                  16
Mauritania                                              16
Fiji                                                    16
Turkey                                                  16
Lithuania                                               16
Oman                                                    16
Tonga                                                   16
Angola                                                  16
Ukraine                                                 16
Belgium                                                 16
Kuwait                                                  16
Mexico                                                  16
Morocco                                                 16
Algeria                                                 16
Philippines                                             16
Brazil                                                  16
Republic of Moldova                                     16
Kazakhstan                                              16
Lebanon                                                 16
CÃ´te d'Ivoire                                           16
Sao Tome and Principe                                   16
Brunei Darussalam                                       16
Pakistan                                                16
Sri Lanka                                               16
France                                                  16
Iran (Islamic Republic of)                              16
Guinea                                                  16
Nicaragua                                               16
Estonia                                                 16
Nepal                                                   16
Zimbabwe                                                16
Finland                                                 16
Uruguay                                                 16
Tunisia                                                 16
United Republic of Tanzania                             16
Vanuatu                                                 16
India                                                   16
Thailand                                                16
Israel                                                  16
Grenada                                                 16
Cambodia                                                16
Niger                                                   16
Gabon                                                   16
Liberia                                                 16
Democratic People's Republic of Korea                   16
Republic of Korea                                       16
Norway                                                  16
Mongolia                                                16
Lao People's Democratic Republic                        16
Jordan                                                  16
Cameroon                                                16
Guyana                                                  16
Slovenia                                                16
Bolivia (Plurinational State of)                        16
Argentina                                               16
Trinidad and Tobago                                     16
Ghana                                                   16
Japan                                                   16
Djibouti                                                16
Kyrgyzstan                                              16
Croatia                                                 16
Bosnia and Herzegovina                                  16
Iraq                                                    16
Timor-Leste                                             16
Mozambique                                              16
Cabo Verde                                              16
Eritrea                                                 16
Romania                                                 16
Russian Federation                                      16
Sudan                                                   16
Zambia                                                  16
Cuba                                                    16
Iceland                                                 16
Tajikistan                                              16
Armenia                                                 16
United Arab Emirates                                    16
Spain                                                   16
Albania                                                 16
Guinea-Bissau                                           16
Sweden                                                  16
Sierra Leone                                            16
Yemen                                                   16
Switzerland                                             16
Portugal                                                16
Qatar                                                   16
Lesotho                                                 16
Australia                                               16
Bulgaria                                                16
Madagascar                                              16
Panama                                                  16
Luxembourg                                              16
South Sudan                                             16
Serbia                                                  16
Namibia                                                 16
Poland                                                  16
Turkmenistan                                            16
Greece                                                  16
Malawi                                                  16
Malta                                                   16
Canada                                                  16
Singapore                                               16
Uganda                                                  16
Malaysia                                                16
Maldives                                                16
Saudi Arabia                                            16
Saint Lucia                                             16
Chile                                                   16
Cyprus                                                  16
Somalia                                                 16
Congo                                                   16
Colombia                                                16
Latvia                                                  16
Bahrain                                                 16
Bangladesh                                              16
Mali                                                    16
United Kingdom of Great Britain and Northern Ireland    16
United States of America                                16
Ireland                                                 16
Hungary                                                 16
New Zealand                                             16
Jamaica                                                 16
Georgia                                                 16
Togo                                                    16
Chad                                                    16
Venezuela (Bolivarian Republic of)                      16
Honduras                                                16
Guatemala                                               16
Barbados                                                16
Czechia                                                 16
Netherlands                                             16
Papua New Guinea                                        16
Haiti                                                   16
Montenegro                                              16
Syrian Arab Republic                                    16
Austria                                                 16
Swaziland                                               16
Bhutan                                                  16
Denmark                                                 16
Egypt                                                   16
Rwanda                                                  16
South Africa                                            16
El Salvador                                             16
Afghanistan                                             16
Germany                                                 16
Uzbekistan                                              16
Slovakia                                                16
Benin                                                   16
Dominican Republic                                      16
China                                                   16
Senegal                                                 16
Bahamas                                                 16
Viet Nam                                                16
Kenya                                                   16
Ethiopia                                                16
Myanmar                                                 16
Kiribati                                                16
The former Yugoslav republic of Macedonia               16
Italy                                                   16
Indonesia                                               16
Democratic Republic of the Congo                        16
Burundi                                                 16
Antigua and Barbuda                                     16
Libya                                                   16
Equatorial Guinea                                       16
Azerbaijan                                              16
Samoa                                                   16
Comoros                                                 16
Palau                                                    1
Marshall Islands                                         1
Nauru                                                    1
Monaco                                                   1
Cook Islands                                             1
San Marino                                               1
Saint Kitts and Nevis                                    1
Tuvalu                                                   1
Niue                                                     1
Dominica                                                 1
Name: Country, dtype: int64

In [20]:
drop_countries = ['San Marino', 'Marshall Islands', 'Cook Islands', 'Saint Kitts and Nevis', 'Niue', 'Palau', 'Dominica', 'Monaco', 'Nauru',
                  'Tuvalu']

for country in drop_countries:
    reduced_df.drop(reduced_df[reduced_df['Country'] == country].index, inplace=True)
    
reduced_df['Country'].value_counts()

C:\Users\John Khazzaka\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

Saint Vincent and the Grenadines                        16
Nigeria                                                 16
Costa Rica                                              16
Suriname                                                16
Micronesia (Federated States of)                        16
Paraguay                                                16
Seychelles                                              16
Belarus                                                 16
Solomon Islands                                         16
Botswana                                                16
Burkina Faso                                            16
Russian Federation                                      16
Peru                                                    16
Central African Republic                                16
Ecuador                                                 16
Gambia                                                  16
Mauritania                                              16
Fiji                                                    16
Turkey                                                  16
Lithuania                                               16
Oman                                                    16
Belize                                                  16
Tonga                                                   16
Mauritius                                               16
Angola                                                  16
Morocco                                                 16
Algeria                                                 16
Philippines                                             16
Brazil                                                  16
Republic of Moldova                                     16
Kazakhstan                                              16
Lebanon                                                 16
CÃ´te d'Ivoire                                           16
Sao Tome and Principe                                   16
Brunei Darussalam                                       16
Pakistan                                                16
Sri Lanka                                               16
France                                                  16
Iran (Islamic Republic of)                              16
Guinea                                                  16
Nicaragua                                               16
Estonia                                                 16
Belgium                                                 16
Ukraine                                                 16
Nepal                                                   16
Zimbabwe                                                16
Kuwait                                                  16
Argentina                                               16
Tunisia                                                 16
United Republic of Tanzania                             16
Vanuatu                                                 16
India                                                   16
Israel                                                  16
Grenada                                                 16
Cambodia                                                16
Niger                                                   16
Uruguay                                                 16
Gabon                                                   16
Democratic People's Republic of Korea                   16
Republic of Korea                                       16
Norway                                                  16
Mongolia                                                16
Lao People's Democratic Republic                        16
Jordan                                                  16
Cameroon                                                16
Guyana                                                  16
Slovenia                                                16
Bolivia (Plurinational State of)                        16
Trinidad and Tobago                                     16
Liberia                                                 16
Ghana                                                   16
Japan                                                   16
Djibouti                                                16
Kyrgyzstan                                              16
Croatia                                                 16
Bosnia and Herzegovina                                  16
Iraq                                                    16
Timor-Leste                                             16
Mozambique                                              16
Cabo Verde                                              16
Eritrea                                                 16
Romania                                                 16
Thailand                                                16
Sudan                                                   16
Zambia                                                  16
Cuba                                                    16
Iceland                                                 16
Tajikistan                                              16
Armenia                                                 16
United Arab Emirates                                    16
Albania                                                 16
Spain                                                   16
Mexico                                                  16
Uganda                                                  16
Sierra Leone                                            16
Yemen                                                   16
Switzerland                                             16
Portugal                                                16
Qatar                                                   16
Lesotho                                                 16
Australia                                               16
Bulgaria                                                16
Madagascar                                              16
Sweden                                                  16
Panama                                                  16
South Sudan                                             16
Serbia                                                  16
Namibia                                                 16
Poland                                                  16
Turkmenistan                                            16
Greece                                                  16
Malawi                                                  16
Malta                                                   16
Singapore                                               16
Malaysia                                                16
Chad                                                    16
Maldives                                                16
Saudi Arabia                                            16
Saint Lucia                                             16
Chile                                                   16
Cyprus                                                  16
Somalia                                                 16
Congo                                                   16
Colombia                                                16
Latvia                                                  16
Bahrain                                                 16
Bangladesh                                              16
Mali                                                    16
United Kingdom of Great Britain and Northern Ireland    16
United States of America                                16
Ireland                                                 16
Hungary                                                 16
New Zealand                                             16
Jamaica                                                 16
Georgia                                                 16
Togo                                                    16
Venezuela (Bolivarian Republic of)                      16
Luxembourg                                              16
Finland                                                 16
China                                                   16
Papua New Guinea                                        16
Haiti                                                   16
Montenegro                                              16
Syrian Arab Republic                                    16
Austria                                                 16
Swaziland                                               16
Guatemala                                               16
Bhutan                                                  16
Egypt                                                   16
Rwanda                                                  16
South Africa                                            16
El Salvador                                             16
Afghanistan                                             16
Germany                                                 16
Uzbekistan                                              16
Slovakia                                                16
Benin                                                   16
Canada                                                  16
Guinea-Bissau                                           16
Netherlands                                             16
Barbados                                                16
Honduras                                                16
Dominican Republic                                      16
Czechia                                                 16
Viet Nam                                                16
Kenya                                                   16
Ethiopia                                                16
Myanmar                                                 16
Kiribati                                                16
The former Yugoslav republic of Macedonia               16
Italy                                                   16
Bahamas                                                 16
Libya                                                   16
Samoa                                                   16
Burundi                                                 16
Comoros                                                 16
Azerbaijan                                              16
Equatorial Guinea                                       16
Antigua and Barbuda                                     16
Indonesia                                               16
Senegal                                                 16
Denmark                                                 16
Democratic Republic of the Congo                        16
Name: Country, dtype: int64

In [22]:
reduced_df.groupby("Country").count().head()

,Year,Status,Life expectancy,Alcohol,BMI,Total expenditure,GDP,Population,Income composition of resources,Schooling
Country,,,,,,,,,,
Afghanistan,16,16,16,16,16,16,16,16,16,16
Albania,16,16,16,16,16,16,16,16,16,16
Algeria,16,16,16,15,16,15,16,16,16,16
Angola,16,16,16,15,16,15,16,16,16,16
Antigua and Barbuda,16,16,16,15,16,15,16,0,16,16

In [36]:
test = reduced_df.copy()

df = test[test.Status != "Developing"]

dfx = test[test.Status != "Developed"]

,Country,Year,Status,Life expectancy,Alcohol,BMI,Total expenditure,GDP,Population,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,0.01,19.1,8.16,584.259210,33736494.0,0.479,10.1
1,Afghanistan,2014,Developing,59.9,0.01,18.6,8.18,612.696514,327582.0,0.476,10.0
2,Afghanistan,2013,Developing,59.9,0.01,18.1,8.13,631.744976,31731688.0,0.470,9.9
3,Afghanistan,2012,Developing,59.5,0.01,17.6,8.52,669.959000,3696958.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,0.01,17.2,7.87,63.537231,2978599.0,0.454,9.5